# Ignore everything inside here   
wordpress/*
wordpress/wp-content/*
wordpress/wp-content/themes/*
!wordpress/wp-content
!wordpress/wp-content/themes
!wordpress/wp-content/themes/[THEME SLUG]

# Ignore Composer stuff
vendor/
composer.lock
