/******************************************************************
Site Name: [WEBSITE NAME]
Author: Zetec IT Solutions

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

// @font-face {
// 	font-family: "Font Name";
// 	src: url("../fonts/font-name.eot"); /* IE9 Compat Modes */
// 	src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//          url("../fonts/font-name.woff2") format("woff2"), /* Super Modern Browsers */
//          url("../fonts/font-name.woff") format("woff"), /* Pretty Modern Browsers */
//          url("../fonts/font-name.ttf")  format("truetype"), /* Safari, Android, iOS */
//          url("../fonts/font-name.svg#svgFontName") format("svg"); /* Legacy iOS */
// }

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
*/

// font stacks
$sans-serif:        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif:             "Georgia", "Cambria", "Times New Roman", "Times", serif;
$lato:              "Lato", $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
    word-break: break-all;
	word-wrap: break-word;
	// cleaning up the ragged lines and breaks
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
	// enabling fancy ligatures when available
	-webkit-font-feature-settings: "liga", "dlig";
	-moz-font-feature-settings: "liga=1, dlig=1";
	font-feature-settings: "liga", "dlig";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	text-rendering: geometricPrecision;
}
